altgraph==0.10.2
appnope==0.1.0
asn1crypto==0.24.0
attrs==19.3.0
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
bdist-mpkg==0.5.0
bleach==3.1.4

cffi==1.12.2
click==7.1.1
configparser==4.0.2
contextlib2==0.6.0.post1
cryptography==2.6.1
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
enum34==1.1.6
Flask==1.1.2
functools32==3.2.3.post2
future==0.17.1
futures==3.3.0
gunicorn==19.10.0
importlib-metadata==1.6.0
ipaddress==1.0.22
ipykernel==4.10.1
ipython==5.9.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
Jinja2==2.11.1
jsonschema==3.2.0

macholib==1.5.1
MarkupSafe==1.1.1
mistune==0.8.4
modulegraph==0.10.4

pandocfilters==1.4.2
pathlib2==2.3.5
pexpect==4.8.0
pickleshare==0.7.5
prometheus-client==0.7.1
prompt-toolkit==1.0.18
ptyprocess==0.6.0
py2app==0.7.3
pycparser==2.19
Pygments==2.7.4
pyOpenSSL==19.0.0
pyparsing==2.0.1
pyrsistent==0.16.0
python-dateutil==2.8.1
pytz==2013.7
pyzmq==19.0.0

terminado==0.8.3
testpath==0.4.4
tornado==5.1.1
traitlets==4.3.3
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
xattr==0.6.4
zipp==1.2.0
